{% extends "base.html" %}

{% block libs %}
{{ super() }}
{% include "partials/libs.html" ignore missing %}
{% endblock %}

{% block announce %}{% include "announce.html" ignore missing %}{% endblock %}

{% block script %}
  {{ super() }}
{% endblock %}

{% block extrahead %}
  {{ super() }}
  <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
  <script src="https://cdn.logr-ingest.com/LogRocket.min.js" crossorigin="anonymous"></script>
  <script>window.LogRocket && window.LogRocket.init('zv1hga/developer-friendly');</script>
{% endblock %}
