{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  {% include "partials/logrocket.html" ignore missing %}
  {% include "partials/subscription-header.html" ignore missing %}
  {% include "blog-refactor-compatibility.html" ignore missing %}
{% endblock %}

{% block announce %}{% include "partials/announce.html" ignore missing %}{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block footer %}
  {{ super() }}
  {% include "partials/subscription-form.html" ignore missing %}
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
