{% if config.extra.analytics %}
  {% set property = config.extra.analytics.property | d("", true) %}
{% endif %}

<!-- Integrate with Google Analytics 4 -->
<script id="__analytics">
  function __md_analytics() {
    window.dataLayer = window.dataLayer || []
    function gtag() { dataLayer.push(arguments) }

    /* Set up integration and send page view */
    gtag("js", new Date())
    gtag("config", "{{ property }}")

    /* Set up Google AdSense consent */
    gtag("consent", "default", {
      ad_storage: "denied",
      ad_user_data: "denied",
      ad_personalization: "denied",
      analytics_storage: "denied",
    });

    function consentGrantedAdStorage() {
      gtag("consent", "update", {
        ad_storage: "granted",
      });
    }

    function consentGrantedAdUserData() {
      gtag("consent", "update", {
        ad_user_data: "granted",
      });
    }

    function consentGrantedAdPersonalization() {
      gtag("consent", "update", {
        ad_personalization: "granted",
      });
    }

    function consentGrantedAnalyticsStorage() {
      gtag("consent", "update", {
        analytics_storage: "granted",
      });
    }

    function consentGrantAll() {
      consentGrantedAdStorage();
      consentGrantedAdUserData();
      consentGrantedAdPersonalization();
      consentGrantedAnalyticsStorage();
    }

    /* Register event handlers after documented loaded */
    document.addEventListener("DOMContentLoaded", function() {

      /* Set up search tracking */
      if (document.forms.search) {
        var query = document.forms.search.query
        query.addEventListener("blur", function() {
          if (this.value)
            gtag("event", "search", { search_term: this.value })
        })
      }

      /* Set up feedback, i.e. "Was this page helpful?" */
      document$.subscribe(function() {
        var feedback = document.forms.feedback
        if (typeof feedback === "undefined")
          return

        /* Send feedback to Google Analytics */
        for (var button of feedback.querySelectorAll("[type=submit]")) {
          button.addEventListener("click", function(ev) {
            ev.preventDefault()

            /* Retrieve and send data */
            var page = document.location.pathname
            var data = this.getAttribute("data-md-value")
            gtag("event", "feedback", { page, data })

            /* Disable form and show note, if given */
            feedback.firstElementChild.disabled = true
            var note = feedback.querySelector(
              ".md-feedback__note [data-md-value='" + data + "']"
            )
            if (note)
              note.hidden = false
          })

          /* Show feedback */
          feedback.hidden = false
        }
      })

      /* Send page view on location change */
      location$.subscribe(function(url) {
        gtag("config", "{{ property }}", {
          page_path: url.pathname
        })
      })

      /* Setup Google AdSense consent v2 */
      document$.subscribe(function googleConsentV2() {
        console.log("Google AdSense consent v2 check ...")
        var consent = __md_get("__consent");
        if (consent && consent.personalization) {
          console.log("Google AdSense consent v2 granted")
          consentGrantAll();
        }
      })
    })

    /* Create script tag */
    var script = document.createElement("script")
    script.async = true
    script.src = "https://www.googletagmanager.com/gtag/js?id={{ property }}"

    /* Inject script tag */
    var container = document.getElementById("__analytics")
    container.insertAdjacentElement("afterEnd", script)
  }
</script>
