[Unit]
Description=Victoria Metrics - VMAgent
Documentation=https://github.com/VictoriaMetrics/VictoriaMetrics

[Service]
ExecStart=/usr/local/bin/vmagent-prod \
  -promscrape.config=/etc/victoria-metrics/vmagent.yml \
  -remoteWrite.url={{ remote_write_url }} \
  -influxListenAddr='' \
  -httpListenAddr='' \
  -remoteWrite.tmpDataPath=/var/lib/victoria-metrics/remote-write-data
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
