site
.terra*
tfplan
**/terraform.tfstate*
.cache
.secrets
.pre-commit-trivy-cache

# Local Netlify folder
.netlify
.envrc
docs/codes/2024/0008/inventory/
**/terraform.tfvars
docs/codes/2024/0013/inventory.yml
__pycache__

internal/concrete

.env
.lycheecache
todo.lst
provider*.tf
tfplan
backend.tf
**/node_modules
docs/blog/posts/2025/005-gcp-cdn/tofu/60-github-frontend-repository/files/bun.lock
