site
.terra*
tfplan
**/terraform.tfstate*
.cache
secrets
.pre-commit-trivy-cache

# Local Netlify folder
.netlify
.envrc
docs/codes/2024/0008/inventory/
**/terraform.tfvars
docs/codes/2024/0013/inventory.yml
__pycache__

internal/concrete

.env
.lycheecache
todo.lst
