<div class="announce-wrapper">
  <div id="announce-left">
    <!------->
    <div class="item">
      🔊 My latest book 📖,
      <a
        href="https://www.amazon.com/Ultimate-Docker-Cloud-Native-Applications/dp/8196815123/"
        target="_blank"
      >
        <strong>Ultimate Docker for Cloud-Native Applications</strong>
      </a>
      🐋, is out! Grab your copy now! 🏷️
    </div>
    <!------->
    <div class="item">
      You can now sponsor
      <a href="/sponsors/">
        <strong>
          Developer Friendly Blog
          <span class="twemoji"
            >{% include ".icons/octicons/heart-fill-16.svg" %}</span
          >
        </strong>
      </a>
    </div>
    <!------->
    <div class="item">
      <a
        href="https://communityinviter.com/apps/developerfriendly/join-our-slack"
        target="_blank"
        ><strong
          >Join our Slack
          <span class="twemoji"
            >{% include ".icons/fontawesome/brands/slack.svg" %}</span
          >
          community
        </strong></a
      >
      and receive the latest updates.
    </div>
  </div>
</div>
