<div class="admonition success">
  <p class="admonition-title">Get Notified of the Latest Blog Posts 💪</p>

  <form
    method="post"
    action="https://newsletter.developer-friendly.blog/subscription/form"
  >
    <div>
      <input type="hidden" name="nonce" />
      <p>
        <input
          class="md-input"
          type="email"
          name="email"
          required
          placeholder="E-mail"
        />
      </p>
      <p>
        <input
          class="md-input"
          type="text"
          name="name"
          placeholder="Name (optional)"
        />
      </p>
      <p>
        <input
          type="hidden"
          name="l"
          value="ea947371-ce6e-46e5-ade0-736c1a72d55e"
        />
      </p>
      <div>
        <div
          class="h-captcha"
          data-sitekey="86462775-09bb-45e0-90c1-1e9f7fee4578"
        ></div>
        <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
      </div>
      <p>
        <input
          class="md-button md-button--primary"
          type="submit"
          value="Subscribe"
        />
      </p>
    </div>
  </form>
</div>
