.announce-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.announce-wrapper .twemoji {
  margin-top: 2px;
}

.announce-wrapper div.item {
  display: none;
}

.announce-wrapper > div {
  display: flex;
  align-items: center;
}

a.announce-link:link,
a.announce-link:visited {
  color: #fff;
}

a.announce-link:hover {
  color: var(--md-accent-fg-color);
}

@media (max-width: 600px) {
  .announce-wrapper .twemoji {
    margin-top: 1px;
  }
}
